#columnDiv {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  color: #e6e6e6;
  /* min-height: 100vh; */
  font-family: Georgia, 'Times New Roman', Times, serif;

  background-color: black;
  /* filter: opacity(0.9); */
  background: url('../Images/keybackgroun.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.themeSection {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.choose-theme {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 25%;
  height: 10rem;
  justify-content: space-around center;
}

.themeMap {
  padding: 1rem;
}

.choose-theme img {
  padding: 0;
  height: 12rem;
  width: 16rem;
  border: #c6c793de solid 5px;
}
