#divColumn {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;

  color: #e6e6e6;
  min-height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;

  background-color: black;
  /* filter: opacity(0.9); */
  background: url('../Images/keysfloorbackground.jpeg') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#divRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

#themeText h3 {
  margin: 0 0;
}

#divImages {
  margin: 1rem;
}

#themeImg {
  height: 15rem;
  width: 20rem;
  border: white solid 3px;
}

#singleTheme {
}
