#game-narrative > p {
  text-align: center;
  font-size: 2rem;
}

#lock-images {
  width: 1440px;
  display: flex;
  /* width: 90%; */
  /* display: flex; */
  justify-content: flex-end;
  /* text-align: right; */
  margin: 0 auto;
}

#lock-images img {
  margin: 0.3rem;
}
