#game-narrative > p {
  text-align: center;
  font-size: 2rem;
}

#lock-images {
  width: 1220px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

#lock-images img {
  margin: 0.3rem;
}
