.game-room {
  background-color: black;
  text-align: center;
  color: white;
  min-height: 90vh;
}

.konvajs-content {
  margin: 0 auto;
}

.narrative {
  display: flex;
  justify-content: center;
}

#house.selected {
  background-color: greenyellow;
}

.puzzle-modal {
  height: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../puzzlepieces.jpg');
}

.search {
  cursor: 'pointer';
}
