.game-room {
  padding-top: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #073138;
  min-height: 100vh;
  background-image: url('../Images/brickalley.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.game-room div.game-timer h1 {
  color: white;
}
.konvajs-content {
  overflow: hidden;
  border-radius: 20px;
  margin: 1rem auto;
  box-shadow: 1px 1px 12px 4px deepskyblue;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.game-room .narrative {
  margin-top: 1rem;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-room .narrative p {
  margin: 0;
  text-shadow: 1px 1px 24px black;
  font-size: 1.5rem;
}
.intro {
  font-size: 2rem;
  border-radius: 20px;
  position: absolute;
  left: 90px;
  width: 30vw;
  z-index: 3;
  translate: 50px 50px;
  transform: translate(100%, 50%);
  font-weight: 100;
}
#house.selected {
  background-color: greenyellow;
}

.puzzle-modal {
  height: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../Images/puzzlepieces.jpg');
}

.search {
  cursor: 'pointer';
}

.keypad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keypad img {
  border-radius: 12px;
}

.keypad-entry {
  height: 3rem;
  text-align: center;
  letter-spacing: 1rem;
  font-size: 1.3rem;
  margin: 1rem;
  border: 2px solid grey;
  width: 10rem;
}

.error {
  font-size: 1.5rem;
  color: red;
  font-style: italic;
  font-weight: bold;
}

div.red {
  border-color: red;
}

div.success {
  color: green;
  font-size: 1.5rem;
}
.keypad button {
  margin: 1rem;
  background-color: black;
  color: white;
  padding: 0.5rem;
}

.phone-number input {
  margin: 0.5rem;
  padding: 0.2rem;
  width: 4rem;
}

input::placeholder {
  text-align: center;
}

input.small {
  width: 2rem;
}

.phone-number {
  text-align: center;
}
.react-typewriter-text {
  padding: 0;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: left;
}

#utils {
  justify-content: center;
  display: flex;
}

#utils div#lock-images {
  width: auto;
}

div.game-timer {
  align-items: center;
  display: flex;
  width: 20rem;
  height: 3rem;
}
