body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* main container for all components */
.container {
  /* background-color: white; */
}

/* background div for all components */
.background {
  background-repeat: no-repeat;
  margin: 1rem auto;
  border: 20px solid black;
  background-size: contain;
  height: 40rem;
  width: 60rem;
}

/* background images for all components  */
#home {
  flex: 3;
  background-image: url('../Theme_Images/home.jpg');
}

#home5 {
  background-image: url('../Theme_Images/home5.jpg');
}

#home4 {
  background-image: url('../Theme_Images/home4.jpg');
}

#home2 {
  background-image: url('../Theme_Images/home2.jpg');
}

#home1 {
  background-image: url('../Theme_Images/home1.jpg');
}

#home3 {
  background-image: url('../Theme_Images/home3.jpg');
}

/* HOUSE OF RIDDLES COMPONENT */

.houseContainer {
  background-color: white;
}

/* not visible buttons */
.secretButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* secretbutton location */

/* this is the room in the middle downstairs (window click) */
#home4Button {
  height: 5.5rem;
  width: 11.5rem;
  position: relative;
  top: 215px;
  left: 250px;
  margin-right: 0;
}

/* this is the upstairs room on the left */
#home2Button {
  height: 9rem;
  width: 5rem;
  position: relative;
  top: 50px;
  left: 280px;
  margin-right: 0;
}

/* this is the attic room on the top right */
#home1Button {
  height: 5rem;
  width: 4rem;
  position: relative;
  top: 35px;
  left: 630px;
  margin-right: 0;
}

/* this is the living room, first on bottomleft (front door click) */
#home5Button {
  height: 12rem;
  width: 8rem;
  position: relative;
  top: 340px;
  left: 95px;
  margin-right: 0;
}

/* this is the room downstairs in the back (white door click) */
#home3Button {
  height: 11rem;
  width: 5rem;
  position: relative;
  top: 340px;
  left: 390px;
  margin-right: 0;
}

/* REACT MODALS CSS */

/* all classNames for modal, basic div */
.modal {
  height: 45rem;
  width: 65rem;
  outline: none;
}

/* Add Animation to Modal below*/
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* used inside of modal div */
.modal-content {
  margin: auto;
  height: 45rem;
  width: 65rem;
  color: whitesmoke;
  font-size: 20px;
  /* animation-name: animatetop;
  animation-duration: 0.4s; */
}

/* The Modals Close Button  */
.close {
  position: relative;
  top: -10px;
  right: 1px;
  background-color: transparent;
  border: none;
  color: white;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

/* used as overlayClassName */
/* this is the attic/top right */
.OverlayHome1 {
  margin: 15.5rem auto;
  padding: 20px;
  height: 45rem;
  width: 65rem;
  position: absolute;
  /* inset kinda works like a margin, 
  but if removed, portal does not pop up */
  inset: 0;
  background-color: #0c4483e0;
  box-shadow: 0px 0px 30px 10px #0c4483e0;
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

/* this is the bottom room to the far right */
.OverlayHome3 {
  margin: 15.5rem auto;
  padding: 20px;
  height: 45rem;
  width: 65rem;
  position: absolute;
  /* inset kinda works like a margin, 
  but if removed, portal does not pop up */
  inset: 0;
  background-color: #aa4375d2;
  box-shadow: 0px 0px 30px 10px #aa4375d2;
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

/* this is the bottom room in the middle (window click) */
.OverlayHome4 {
  margin: 15.5rem auto;
  padding: 20px;
  height: 45rem;
  width: 65rem;
  position: absolute;
  /* inset kinda works like a margin, 
  but if removed, portal does not pop up */
  inset: 0;
  background-color: #8133c0d2;
  box-shadow: 0px 0px 30px 10px #8133c0d2;
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

/* this is the top left room */
.OverlayHome2 {
  margin: 15.5rem auto;
  padding: 20px;
  height: 45rem;
  width: 65rem;
  position: absolute;
  /* inset kinda works like a margin, 
  but if removed, portal does not pop up */
  inset: 0;
  background-color: #d6bb23d2;
  box-shadow: 0px 0px 30px 10px#d6bb23d2;
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

/* this is the bottom room on the left (front door click) */
.OverlayHome5 {
  margin: 15.5rem auto;
  padding: 20px;
  height: 45rem;
  width: 65rem;
  position: absolute;
  /* inset kinda works like a margin, 
  but if removed, portal does not pop up */
  inset: 0;
  background-color: #22a0b6c9;
  box-shadow: 0px 0px 30px 10px #22a0b6c9;
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

/* LETTERS BANK COMPONENT CSS */

.returnHomeButtonDiv {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

/* style button later  */
.returnHomeButton {
}

.bankContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 60rem;
  justify-content: center;
  align-content: center;
}
.bankRow {
  display: flex;
  flex-direction: row;
}

.bankDivs {
  font-size: 13px;
  border: dashed 2px black;
  margin: 0 auto;
  padding-bottom: 1rem;
  width: 28rem;
  overflow: wrap;
}

.bankHeadings {
  text-align: center;
  text-decoration: underline;
}

.bankParagraphs {
  margin: 2px;
  padding: 0 1rem;
  width: 26rem;
}
