#navbar {
  height: 8rem;
  padding: 2rem 2rem 0 2rem;
  font-size: 1.4rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#navbar span {
  position: relative;
  z-index: 3;
  color: white;
  margin: 1rem 2rem;
  font-weight: 100;
}

#navbar a {
  text-decoration: none;
}
#navbar a:visited {
  color: white;
}

#navbar .navbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left > div img {
}
