.container {
  background-color: white;
}

/* background div */
.background {
  margin: 4rem auto;
  border: 20px solid black;
  background-size: contain;
  height: 60rem;
  width: 90rem;
}

/* background images  */
#home {
  background-image: url('../assets/home.jpg');
}

#livingroom {
  background-image: url('../assets/livingroom.jpg');
}

#herroom {
  background-image: url('../assets/herroom.jpg');
}

#hisroom {
  background-image: url('../assets/hisroom.jpg');
}

#attic {
  background-image: url('../assets/attic.jpg');
}

#backroom {
  background-image: url('../assets/backroom.jpg');
}

/* not visible buttons */
.secretButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* link inside of secretbutton */
.secretButton > a {
  text-decoration: none;
  height: auto;
  width: auto;
}

/* secretbutton location */
#hisRoomButton {
  height: 12.5rem;
  width: 7rem;
  position: relative;
  top: 105px;
  left: 420px;
  margin-right: 0;
}

#atticButton {
  height: 5rem;
  width: 4rem;
  position: relative;
  top: 145px;
  left: 970px;
  margin-right: 0;
}

#livingRoomButton {
  height: 17rem;
  width: 10rem;
  position: relative;
  top: 515px;
  left: 195px;
  margin-right: 0;
}

#herRoomButton {
  height: 7.5rem;
  width: 14.4rem;
  position: relative;
  top: 400px;
  left: 480px;
  margin-right: 0;
}

#backRoomButton {
  height: 16rem;
  width: 7rem;
  position: relative;
  top: 520px;
  left: 710px;
  margin-right: 0;
}
