
/*                                              ARWINDERS GAME STYLES                                               */  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bankGame {
    background: url("Images/bank_background.jpg") center no-repeat;
    background-color: rgb(195,155,129)
}
.cashDesk {
    background: url("Images/rsz_cashdesk.jpg") center no-repeat;
    background-color: rgb(165,220,115)
}
.bankSafe {
    background: url("Images/rsz_safe.jpg") center no-repeat;
    background-color: rgb(217,228,232)
}
.bankVictory {
    background: url("Images/bankVictory.jpg") center no-repeat;
    background-color: rgb(62,168,118)
}

html, body, .cashDesk, .bankGame, .bankSafe, .bankVictory, #app, #routesDiv {
    height: 854px;
    width: 1440px;
}


/*                                              ARWINDERS GAME STYLES END                                               */  

#bobaImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.bobaBg {
    justify-content: center;
}

/* body {
    background-color: black;
} */

h1 {
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
}

p {
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    margin: 0
}

#controls {
    position: absolute;
    bottom: 13.5%;
    left: 14%;
    background-color: transparent;
    border-color: red;
    width: 220px;
    height: 120px;
    cursor: crosshair;
    
}

